@page
@using Truck_Loading_Application.Models.enums
@model Truck_Loading_Application.Pages.Trucks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Truck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Truck.TruckId" />
            <div class="form-group">
                <label asp-for="Truck.Type" class="control-label"></label>
                <select asp-for="Truck.Type" class="form-control"
                        asp-items="Html.GetEnumSelectList<TruckType>()">
                    <option selected="selected" value="">-- Select Type --</option>>
                </select>
                <span asp-validation-for="Truck.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.AxleLoad" class="control-label"></label>
                <input asp-for="Truck.AxleLoad" class="form-control" />
                <span asp-validation-for="Truck.AxleLoad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.Brand" class="control-label"></label>
                <input asp-for="Truck.Brand" class="form-control" />
                <span asp-validation-for="Truck.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.Model" class="control-label"></label>
                <input asp-for="Truck.Model" class="form-control" />
                <span asp-validation-for="Truck.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.RegistrationNumber" class="control-label"></label>
                <input asp-for="Truck.RegistrationNumber" class="form-control" />
                <span asp-validation-for="Truck.RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.EmptyWeight" class="control-label"></label>
                <input asp-for="Truck.EmptyWeight" class="form-control" />
                <span asp-validation-for="Truck.EmptyWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.MaxLoadWeight" class="control-label"></label>
                <input asp-for="Truck.MaxLoadWeight" class="form-control" />
                <span asp-validation-for="Truck.MaxLoadWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.Size" class="control-label"></label>
                <input asp-for="Truck.Size" class="form-control" />
                <span asp-validation-for="Truck.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.Capacity" class="control-label"></label>
                <input asp-for="Truck.Capacity" class="form-control" />
                <span asp-validation-for="Truck.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Truck.Availability" /> @Html.DisplayNameFor(model => model.Truck.Availability)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Truck.CurrentLocation" class="control-label"></label>
                <input asp-for="Truck.CurrentLocation" class="form-control" />
                <span asp-validation-for="Truck.CurrentLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.MaintenanceStatus" class="control-label"></label>
                <select asp-for="Truck.MaintenanceStatus" class="form-control"
                        asp-items="Html.GetEnumSelectList<MaintenanceStatus>()">
                    <option selected="selected" value="">-- Select Status --</option>>
                </select>
                <span asp-validation-for="Truck.MaintenanceStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.DriverId" class="control-label"></label>
                <select asp-for="Truck.DriverId" class="form-control" asp-items="ViewBag.DriverId"></select>
                <span asp-validation-for="Truck.DriverId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Truck.IsDeleted" /> @Html.DisplayNameFor(model => model.Truck.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
