@page
@model Truck_Loading_Application.Pages.CargoRequests.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CargoRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CargoRequest.RequestId" />
            <div class="form-group">
                <label asp-for="CargoRequest.ClientId" class="control-label"></label>
                <select asp-for="CargoRequest.ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="CargoRequest.ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoRequest.TransportationNeeds" class="control-label"></label>
                <input asp-for="CargoRequest.TransportationNeeds" class="form-control" />
                <span asp-validation-for="CargoRequest.TransportationNeeds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoRequest.Quantity" class="control-label"></label>
                <input asp-for="CargoRequest.Quantity" class="form-control" />
                <span asp-validation-for="CargoRequest.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoRequest.Source" class="control-label"></label>
                <input asp-for="CargoRequest.Source" class="form-control" />
                <span asp-validation-for="CargoRequest.Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoRequest.Destination" class="control-label"></label>
                <input asp-for="CargoRequest.Destination" class="form-control" />
                <span asp-validation-for="CargoRequest.Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoRequest.PickupDateTime" class="control-label"></label>
                <input asp-for="CargoRequest.PickupDateTime" class="form-control" />
                <span asp-validation-for="CargoRequest.PickupDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoRequest.DeliveryDateTime" class="control-label"></label>
                <input asp-for="CargoRequest.DeliveryDateTime" class="form-control" />
                <span asp-validation-for="CargoRequest.DeliveryDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoRequest.SpecialInstructions" class="control-label"></label>
                <input asp-for="CargoRequest.SpecialInstructions" class="form-control" />
                <span asp-validation-for="CargoRequest.SpecialInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoRequest.Status" class="control-label"></label>
                <select asp-for="CargoRequest.Status" class="form-control"></select>
                <span asp-validation-for="CargoRequest.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoRequest.TotalWeight" class="control-label"></label>
                <input asp-for="CargoRequest.TotalWeight" class="form-control" />
                <span asp-validation-for="CargoRequest.TotalWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
